{% load static %}
<div class="about-area section-padding bg-gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-xs-12 info">
          <div class="about-wrapper wow fadeInLeft" data-wow-delay="0.3s">
            <div>
              <div class="site-heading">
                <p class="mb-3">Plataforma de Gestão</p>
                <h2 class="section-title">Estatísticas detalhadas da sua empresa</h2>
              </div>
              <div class="content">
                <p>
                  Nossa plataforma de gestão foi desenvolvida para facilitar as suas tomadas de decisão. Disponibilizamos uma completa gama de DashBoard, a partir dos seus dados cadstrados.
                </p>
                <a href="#contact" class="btn btn-common mt-3">Saiba mais</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-xs-12 wow fadeInRight" data-wow-delay="0.3s">
          <img class="img-fluid" src="{% static 'img/about/img-1.png' %}" alt="" >
        </div>
      </div>
    </div>
  </div>